
    <div class="navbar navbar-expand-sm bg-light font-header navbar-light fixed-top">
        <a class="navbar-brand" href="/status" id = "mypageid" style="background-color: #7e9293;width: 215px;"><i class="fa fa-podcast" aria-hidden="true" style="margin-right: 0px;"   ></i>
            <b>OPCUA Server</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <div>
                <ul class="navbar-nav congcu">
                    <li class="nav-item">
                        <a class="nav-link" href="/status">
                            Status
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/connect">
                            Connection Log
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users">
                            Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/addressspace">
                           AddressSpace
                        </a>
                    </li>   
                </ul>
            </div>  
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <div>
                <ul class="navbar-nav">
                    <li>
                        <img src="assets/images/export.png" alt="OPCUAserverLOGO" style="cursor:pointer;margin-bottom: 1%;width: 20px;height: 20px;">
                       
                        <a id="alogin" href="/logout">Logout</a></li>
                </ul>
            </div>   
        </div>
    </div>
